/*
Eric Garcia
VFW 1304
Project2 add style
 */



* {
	font-family: RobotoRegular, helvetica, times, arial;
	font-size: 12px;
}

html {
	background-color: #C22D2D;
}

h1 {
	/*width: 220px;*/
	text-align: center;
	color: #83B03C;
	margin: 5px auto;
	padding: 10px;
}

nav {
	width: 236px;
	margin: 5px;
	padding: 2px;
	display: block;
}

body {
	position: relative;
	/*width: 250px;*/
	background-color: #F7DB86;
	margin: 0, auto;
/*	padding: 5px;
	margin: 5px;
*/}

legend {
	font-weight: bold;
	font-size: 12px;
}

form {
	position: relative;
	margin: 0, auto;
}

ul {
	line-height: 1.4em;
}

p {
	/*	width:  180px;
	
	 */
line-height: 1em;
	margin: 5px;
	padding: 5px;
}

save {
		font-family: RobotoBold;
		color: red;
}

button {
	font-size: 10px;
}

footer {
	font-size: 8px;
	margin-top: 20px;
}

/*h1.mainPage {
	text-align: center;
	color: #BD8620;
	margin: 5px;
	padding: 5px;
}

body.mainPage {
	position: relative;
	margin: 0, auto;
	width: 120px;
}

p.mainPage {
	position: relative;
	margin: 0, auto;
	margin: 5px;
	padding: 5px;
}
*/
#errors {
	color: red;
	font-family: RobotoBold;
}
