/*
Eric Garcia
VFW 1304
Project2 add style
*/

html{
	font-family: helvetica, times, arial;
	font-size: 32px;
	background-color: #8c7f56;
}

h1{
	/*width: 250px;*/
	text-align: center;
	color: #D8F5BD;
	margin: 5px;
	margin-top: 24px;
	padding: 5px;
	/*border: 1px solid #fff9f1;*/
}

body{
	/*border: 1px solid #fff9f1;*/
	background-color: #fff9f1;
	padding: 50px;
	margin: 50px;
}

legend{
	font-weight: bold;
}

form{
	margin: 10px;
	padding: 5px;
}

ul{
	line-height: 1.4em;
}

p{
	/*font-size: 14px;*/
	line-height: 1.4em;
	margin: 25px;
	padding: 25px;
}


input.save{
	font-weight: bold;
}

button{
	font-size: 24px;
}

footer{
	font-size: 12px;
	margin-top: 50px;
}