/*
Eric Garcia
VFW 1304
Project2 add style
*/

html{
	font-family: helvetica, times, arial;
	font-size: 10px;
	background-color: #8c7f56;
	width: 150px;
}

h1{
	width: 220px;
	text-align: center;
	color: #CCAB72;
	margin: 5px;
	padding: 5px;
}

nav{
	width: 236px;
	font-size: 12px;
	margin: 5px;
	padding: 2px;
	display: block;
}

body{
	width: 250px;
	background-color: #fff9f1;
	padding: 5px;
	margin: 5px;
}

legend{
	font-weight: bold;
	font-size: 12px;
}

form{
	margin: 2px;
	padding: 2px;
}

ul{
	line-height: 1.4em;
}

p{
/*	width: 180px;
*/	line-height: 1em;
	margin: 5px;
	padding: 5px;
}


input.save{
/*	font-weight: bold;
*/}

button{
	font-size: 10px;
}

footer{
	font-size: 8px;
	margin-top: 20px;
}

p.mainPage{
/*	width: 125px;
*/}

#errors{
	color: red;
	font-weight: bold;
}
